/* AnythingSlider IE7 and older stylesheet - included !important flag in case the theme is loaded after page load */

/* Navigation Arrows */
div.anythingSlider .arrow {
	top: 35% !important;
      /*  top: 50%;*/
        position: absolute;
        display: block;
}


div.anythingSlider .arrow a{
    margin: 0 !important;
    display: block;
    height: 120px;
    margin: 0;
    width: 45px;
    text-align: center;
    outline: 0;
    background: url(../images/arrows-default.png) no-repeat;
    text-indent: -9999px;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='fixed', src='../images/arrows-default.png');
}

/* When using the navigationSize option, the side margins need to be zero
   None of the navigation panels look good in IE7 now =( */
div.anythingSlider .anythingControls ul.thumbNav a {
	/*margin: 0;*/
}
div.anythingSlider .anythingControls .anythingNavWindow li {
	/*padding: 3px 0 0 0;*/
}
