*, html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;vertical-align:baseline;}
:focus{outline:0;}
body{line-height:1;color:black;background:white;}
ol, ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption, th, td{text-align:left;font-weight:normal;}
blockquote:before, blockquote:after,
q:before, q:after{content:"";}
blockquote, q{quotes:"" "";}
.clear{clear:both;}
body{background:url(../images/gray.jpg) repeat;font-size:62.5%;font-weight:normal;color:#4a4a4a;font-family:"Trebuchet MS", Verdana, sans-serif;overflow:hidden;}
h1{text-align:left;font-size:1.8em;margin-bottom:5px;color:#717171;}
h3{text-align:left;font-size:1.4em;color:#717171;padding-bottom: 5px;}
p{font-size:1.1em;line-height:1.6em;padding:0;margin-top:-4px;}
a{color:#a3a3a3;text-decoration:underline;}
a:hover{text-decoration:none;}
em{font-style:italic;}
strong{font-weight:bold;}
#wrapper{width:840px;height:340px;margin:0 auto;margin-top:150px;}
#paper{background:transparent url(../images/paper.png) no-repeat;width:840px;height:340px;margin:0 auto;position:relative;z-index:50;padding-top:10px;font-size:1.2em;overflow:hidden;}
#footer{width:840px;height:20px;margin:10px auto 0 auto;text-align:center;color:#555555;text-shadow:1px 1px 0px #f0f0f0;position:relative;z-index:600;}
#footer a{color:#555555;text-decoration:none;}
#footer a:hover{text-decoration:underline;}
#header{width:700px;height:31px;margin:0 auto;}
#logo{float:left;font-size:17px;font-weight:bold;}
#logo a{text-decoration:none;color:#717171;text-transform:uppercase;text-shadow:0px 1px 1px #fff;}
#nav{width:310px;height:31px;float:right;}
#menu{height:31px;margin:0;padding:0;margin-top:1px;position:relative;z-index:1000;}
#menu li{margin-left:20px;padding:0;list-style:none;float:left;display:block;}
#menu li a{text-decoration:none;border:0;color:#000;text-shadow:0px 1px 1px #fff;font-size:14px;height:30px;display:block;position:relative;z-index:1000;text-transform:capitalize;}
#menu li a:hover{color:#313131;}
a.current{background:transparent url(../images/pointer.png) center bottom no-repeat;padding-bottom:1px;}
.contact-content{width:600px;height:200px;margin:0 auto;margin-top:12px;}
.layerimage{width:130px;height:110px;float:left;}
.imagework{background:transparent url(../images/pthbg.jpg) no-repeat;margin:0;padding-top:7px;padding-left:6px;padding-right:6px;padding-bottom:11px;width:120px;height:81px;}
.portfolio-content{width:800px;height:310px;margin:0 auto; padding-top: 31px;}
.home-content{width:680px;height:330px;margin:0 auto;}
#portfolio{clear:both;}
.infowork{float:right;width:452px;height:160px;}
.infowork h3 .namework{margin-bottom:5px;}
.contact-content-left{float:left;width:300px;height:290px;margin-right:20px;}
.contact-content-right{width:260px;height:240px;float:right;}
.contact-content ul{margin-top:21px;}
.contact-content ul li{padding-left:27px;background:transparent;height:19px;font-size:1.1em;line-height:1.5em;margin-bottom:11px;color:#363737;}
.contact-content ul li.email{background:url(../images/icn-mail.jpg) 0 0;background-repeat:no-repeat;}
.contact-content a{padding-bottom:0;color:#363737;text-decoration:none;}
.contact-content a:hover{border-bottom:0.1em solid #363737;}
#qrcode{margin:0 auto;text-align:center;}
.notification_error{color:#d3606a;height:auto;margin-top:-10px;width:250px;margin-left:60px;margin-bottom:10px;text-align:left;font-size:12px;}
.notification_ok{background:url('../images/contact/ok.png') no-repeat top left;height:26px;padding-bottom:5px;padding-left:20px;width:300px;text-align:left;margin-top:0;margin-bottom:20px;}
#acf-fields .button{background:url(../images/send.jpg) 0 0;background-repeat:no-repeat;width:50px;height:21px;border:0;cursor:pointer;float:left;margin-left:60px;margin-top:-5px;}
#acf-fields .button:hover{background:url(../images/send.jpg) 0 -21px;background-repeat:no-repeat;}
#acf-fields .button_sp{background:url(../images/enviar.jpg) 0 0;background-repeat:no-repeat;width:50px;height:21px;border:0;cursor:pointer;float:left;margin-left:60px;margin-top:-5px;}
#acf-fields .button_sp:hover{background:url(../images/enviar.jpg) 0 -21px;background-repeat:no-repeat;}
#acf-area{margin-left:auto;margin-right:auto;width:300px;font-size:13px;padding:0;border:0px none;}
#acf-note{display:none;}
.hide{display:none;}
#acf-fields label{width:60px;float:left;clear:both;height:20px;}
#acf-fields input[type="text"], textarea, select{}
#acf-fields input[type="text"]{background-color:#fefefe;padding:0px;width:188px;height:14px;float:left;border:1px solid #dedede;color:#333333;padding:3px;margin-bottom:15px;font-size:12px;}
#acf-fields textarea{background-color:#fefefe;width:188px;height:115px;padding:0px;float:left;margin:5px 5px 5px 0px;border:1px solid #dedede;color:#333333;padding:3px;margin-bottom:15px;font-size:12px;}
input[type="submit"]:focus, input[type="button"]:focus{outline:none;}
#ajax-loading{margin-left:59px;display:none;}
.about-content p{text-align:justify;}
#fancybox_content{width: auto;height: auto;}
#imagen{float: left; width: auto;}
#texto{float: left; width: 500px;margin-top: 20px; }
#texto h1{color: #4A4A4A;font-size:25px;margin:0;text-align: left;}
.home_right{float: left;width: 242px;}
#text-about{width: 422px;height: 174px;float: left;text-align: justify;}
#work-featured{ height: 194px;width: 258px;float: right;background-image: url('../images/trabajo-destacado.png');background-repeat: no-repeat;background-position: center;}
#services{width:680px;}
.service{width: 211px;float: left;text-align: justify;}
.service img{text-align: center;padding-left: 41px;}
span.roll{background:url(../images/mag.png) center center no-repeat #000;height:81px;position:absolute;width:120px;margin-left:7px;margin-top: 7px;z-index: 10;-webkit-box-shadow: 0px 0px 4px #000;-moz-box-shadow: 0px 0px 4px  #000;box-shadow: 0px 0px 4px  #000;}
.social{height: 135px;float: right; margin-top: 5px;}
.social li img{vertical-align:middle;}
.slide{margin-left:15px;margin-right:15px;width:130px;height:110px; float: left;}
.slide_top{margin-left:15px;margin-right:15px;width:130px;height:110px; float: left; margin-bottom: 40px;}
#slide{margin-top: 8px;margin-left:22px;width:210px;height:120px;position:relative;}
